body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-y: auto
}
.Navbar {
  background-color: black;
  font-size: 25pt;
  color: #850909;
  padding: 0px;
  font-family: 'MedievalSharp', cursive;
}
.Landing {
  background-image: url('../src/images/57741-innocence_proves_nothing_wallpaper.jpg');
  min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.dash {
  background-image: url('../src/images/warhammer-40k-logo-graffiti-hd-desktop-high-definition.jpg');
  min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.vox {
  background-image: url('../src/images/emperor.jpg');
  min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.NavbarButtons {
  height: 2em;
  color: #850909;
  padding: 0px;
  background-color: black;
  font-family: 'MedievalSharp', cursive;
}
.NavbarButtons:hover {
  text-decoration: none;
  color: #850909;
}
.CaseSearch {
  background-image: url('../src/images/the_inquisition_by_denizenoftehwarp.jpg');
  min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.CaseFiles {
  background-image: url('../src/images/best-warhammer-40k-wallpapers-1920x1200-WTG200613638.jpg');
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.Login {
  background-image: url('../src/images/ravenor-cross-inquisition-wallpaper.jpg');
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.CaseSearchModal {
  font-family: 'MedievalSharp', cursive;
  color: #850909;
  background-color: black;
}
.modal-content {
  border: 1px solid red;
}
.btns {
  margin-top: .5em;
  font-size: 15pt;
  margin-bottom: 1em;
}
input[type=text] {
  border: 1px solid #850909;
  border-radius: 4px;
}
.modal-backdrop {
    opacity: 0.9 !important;
}
.navDropdown {
  color: #850909;
  background-color: black;
  padding: 0%;
}
.search-results {
  background-image: url('../src/images/inquisition-warhammer-40k-31853-1920x1080.jpg');
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-background {
  background-image: url('../src/images/inquisition_stamp_by_hikaru_119-d4u0rgc.jpg');
  /*height: 100%;
  width: 20%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-attachment: fixed;
  background-size: cover;*/
  background-position: top;
  background-repeat: no-repeat;

  color: #850909;
  font-size: 15pt;
}
.card-headings {
  font-size: 20pt;
  font-style: oblique;
}
