body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-y: auto
}
.Navbar {
  background-color: black;
  font-size: 25pt;
  color: #850909;
  padding: 0px;
  font-family: 'MedievalSharp', cursive;
}
.Landing {
  background-image: url('../src/images/57741-innocence_proves_nothing_wallpaper.jpg');
  min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.dash {
  background-image: url('../src/images/warhammer-40k-logo-graffiti-hd-desktop-high-definition.jpg');
  background-color: black;
    min-height: 100%;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.vox {
  background-image: url('../src/images/emperor.jpg');
  min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.NavbarButtons {
  height: 2em;
  color: #850909;
  padding: 0px;
  background-color: black;
  font-family: 'MedievalSharp', cursive;
  border: none;
}
.NavbarButtons:hover {
  text-decoration: none;
  color: white;
  border: none;
  background: none;
}
.CaseSearch {
  background-image: url('../src/images/the_inquisition_by_denizenoftehwarp.jpg');
  min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.CaseFiles {
  background-image: url('../src/images/best-warhammer-40k-wallpapers-1920x1200-WTG200613638.jpg');
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.Login {
  background-image: url('../src/images/ravenor.jpg');
  background-color: black;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.CaseSearchModal {
  font-family: 'MedievalSharp', cursive;
  color: #850909;
  background-color: black;
}
.modal-content {
  border: 1px solid red;
}
.btns {
  margin-top: .5em;
  font-size: 15pt;
  margin-bottom: 1em;
}
input[type=text] {
  border: 1px solid #850909;
  border-radius: 4px;
}
.profile-pic {
  height:12em; 
  width:8em; 
  margin-bottom:2em;
  margin-left:1em;
  box-shadow: 5px 5px 4px 5px #888888;
}
.message-button {
  box-shadow: 2.5px 2.5px 2px 2.5px #888888;
}
.navDropdown {
  color: #850909;
  background-color: black;
  border-radius: 5%;
  border: none;
}
.navDropdown:hover {
  border: none;
  color:#850909;
  background-color: black;
  border-radius: 5%;
}
.search-results {
  background-color: black;
  background-image: url('../src/images/inquisition-warhammer-40k-31853-1920x1080.jpg');
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.card-background {
  background-image: url('../src/images/inquisition_stamp_by_hikaru_119-d4u0rgc.jpg');
  /*height: 100%;
  width: 20%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-attachment: fixed;
  background-size: cover;*/
  background-position: top;
  background-repeat: no-repeat;

  color: #850909;
  font-size: 15pt;
}
.card-headings {
  font-size: 20pt;
  font-style: oblique;
}
.quotes {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  text-align: left;
  margin-left: 1em;
  font-family: 'Cinzel', cursive;
  font-size: 15pt;
  text-shadow: 5px 5px 4px #888888;
}
.text-img {
  opacity: 0.3;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
}
.vox-header {
  font-family: 'Cinzel Decorative', cursive;
  font-weight: 900;
  font-size: 20pt;
}
.search-pic {
  height:10em;
}
.vox-data {
  margin-left: .5em;
}
.vox-header > span {
  font-family: 'Cinzel Decorative', cursive;
  font-weight: 400;
}
.admin-content {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  text-align: left;
  margin-left: 1em;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 20pt;
}
.spacer-div {
  margin-top: 100vh;
}
.register {
  background-image: url('../src/images/The-Master-of-Mankind-1.jpg');
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.fail {
  background-image: url('../src/images/0a5c817a81cf1ae99dab2b936c1ca023.jpg');
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.admin-card {
  font-family: 'Cinzel', cursive;
}
.test {
  opacity: 0.9;
}
.admin-page{
  background-image: url('../src/images/wh40k___confused_space_elf_by_sirtiefling-d6yp5m7.jpg');
  height: 150vmax;
  min-width: 1024px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow-y: visible;
  background-attachment: scroll;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.Search {
  background-image: url('../src/images/best-warhammer-40k-wallpapers-1920x1200-WTG200613638.jpg');
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
.glitch {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.login-button {
  z-index: 5;
}
.Landing2 {
  background-image: url('../src/images/57741-innocence_proves_nothing_wallpaper.jpg');
  min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.Landing2:after {
  animation: grain 8s steps(10) infinite;
  background-image: url("../src/images/paper_1.png");
  content: "";
  height: 275%;
  left: -50%;
  opacity: 0.4;
  position: fixed;
  top: -100%;
  width: 300%;
}

@keyframes grain {
  0%, 100% { transform:translate(0, 0) }
  10% { transform:translate(-5%, -10%) }
  20% { transform:translate(-15%, 5%) }
  30% { transform:translate(7%, -25%) }
  40% { transform:translate(-5%, 25%) }
  50% { transform:translate(-15%, 10%) }
  60% { transform:translate(15%, 0%) }
  70% { transform:translate(0%, 15%) }
  80% { transform:translate(3%, 35%) }
  90% { transform:translate(-10%, 10%) }
}
